<!DOCTYPE html>
<html>
    <head>
        <title>Employee listing</title>        
    </head>
    <body>
        <form method="POST">
            <input type="hidden" value="<%= emp.Id %>"/>
            <span>Employee Name: </span>
            <input type="text" name="name" value="<%= emp.Name %>"/>
            <input type="submit" value="Edit"/>
        </form>
    </body>
</html>