<!DOCTYPE html>
<html>
    <head>
        <title>Employee listing</title>        
    </head>
    <body>
        <a href="/employees/add">Add Employee</a>
        <ul>
            <% for(let emp of employees) { %>
                <li><%=emp.Name %></li>
            <% } %>
        </ul>
    </body>
</html>